/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	min-height: 100%;
	display: flex;
}
ol, ul {
	list-style: none;
}
p {
	font-weight: 400;
	color: #3D3D3D;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	line-height: 1;
	margin: 0 auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	display: flex;
	flex: 1;
	flex-direction: column;
}

/* HEADER */
header {
	width: 1140px;
	margin: 50px auto;
	display: flex;
	align-items: center; /* centre les liens la vertic */
	justify-content: space-between;
}
.black_mode_edition {
	width: 100%;
	background-color: black;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	display: flex;
	justify-content: center; 
}
.black_mode_edition .fa-regular {
	font-size: 16px;
	color: white;
	padding-right: 1%;
}
.black_mode_edition p {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}

/* MAIN */
main {
	max-width: 1140px;
	margin: 50px auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size:10px;
	letter-spacing: 0.1em;
	margin: 2% 0%;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
h3 {
	font-size: 25px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	margin: 0 12px;
	font-size: 1.2em;
}
nav img {
	height: 22px;
}
li:hover {
	font-weight: 600;
}
nav a {
	color: black;
	text-decoration-line: none;
}
#introduction {
	display: flex;
	align-items: center;
	column-gap: 5em;
	margin: 0em 6.8em;
}
#introduction figure {
	width: 105%;
}
#introduction img {
	display: block;
	width: 100%;
}

#introduction article {
	width: fit-content;
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 1em;
}
#portfolio {
	margin: auto;
	max-width: 953px;
}
.mes-projets {
	display: flex;
	justify-content: center;
	margin-bottom: 7%;
	margin-top: 13%;
}
.modifier_projets {
	display: flex;
	align-items: center;
}
.modifier_projets .fa-regular {
	padding-left: 45%;
	padding-right: 15%;
}
#modal1 {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 78%;
	animation: fadeIn .5s both;
}
.modal.afficher {
	display: flex;
}
.modal_wrapper {
	max-height: calc(100vh - 20px); /* 100vh une fois la hauteur de l'écran */
	background-color: #FFFFFF;
	padding: 10rem;
	overflow: auto;
	border-radius: 20%;
	animation: fadeIn .3s both;
 }

 @keyframes fadeIn {
	from {opacity: 0; }
	to {opacity: 1; }
 }
 .js-close-modal {
	border: none;
	background-color: transparent;
	font-size: 16px;
 }
/******* v2 *******/
 .modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
 }
 .modal-container.active {
	display: block; /*pour annuler le none quand on clic sur le trigger*/
 }
 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
 }
 .modal {
	/* width: 95%; */
	max-width: 630px;
	min-width: 300px;
	padding: 10rem;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); /* tech pour centrer avec des elem en position absolute */
 }
.js-close-modal {
	padding: 8px 10px;
	border: none;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	background-color: transparent;
	font-size: 20px;
}
.modal-btn {
	background-color: transparent;
	border: none;
	font-family: Work Sans;
	font-weight: 400;
	font-size: 14px;
}
.modal-btn:hover {
	cursor: pointer;
	font-weight: bold;
}


.filterchoix{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.filterchoix button{
	min-width: 6.2em;
	width: auto;
	padding: 0.6em;
	background-color: #FFFEF8;
	border: 1px #1D6154 solid;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	margin: 0px 5px;
}
.filterchoix button:hover{
	background-color: #1D6154;
	color: #FFFFFF;
}
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.gallery figcaption {
	font-size: 13px;
}
#contact {
	width: 33%;
	margin: 4em auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.inputbouton { /* pour les 2 boutons en bas des forms */
	height: 50px;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input {
	height: 50px;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer {
	background-color: #FFFFFF;
	width: 100%;
	margin-top: auto;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
footer li {
		margin-right: 97px;
}

/****** Page Login ******/

.formLogIn h2 {
	text-align: center;
}
.formLogIn form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.formLogIn input {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	box-sizing: border-box;
}
.formLogIn label {
	margin: 2em 0 1em 0;
}
.formulaire-de-connection input#email,#mdp {
	width: 379px;
}
.mdpOublie {
	text-decoration-line: underline;
	color: black;
	text-align: center;
}